
//
// VARIABLES
//

// Colors
$blue: #4183C4;
$yellow: rgb(240, 191, 74);

// Grays
$black: #000;
$darkerGray: #111;
$darkGray: #222;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "roboto", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}